<div id="new">
  <div id="new-div">
    <div id="new-content">
      <%= form_with model: @splint, id: 'new-form' do |form| %>
        <div>
          <%= form.text_field :content %>
        </div>
        <%= form.hidden_field :line_id, :value => session[:line_id] %>
        <%= form.hidden_field :sp_number, :value => @sp_number %>
        <%= form.hidden_field :kpt, :value => params[:kpt] %>
        <%= form.submit 'Add' %>
      <% end %>
    </div>
  </div>
</div>