<%= link_to 'New Room', new_room_path %>

<% @rooms.each do |room| %>
  <%= room.id %>
  <%= room.name %>
  <%= room.admin_user_id%>
  <%= button_to 'Add Member', room_members_path(room.id), method: :post %>
  <% room.members.each do |member| %>
    <%= member.user.id %>
  <% end %>
  <p>----------</p>
<% end %>

