<% if session[:access_token] %>
  <div id="post">
    <div id="post-div">
      <div id="post-link">
        <div id="menu-bar">
          <%= link_to "タスク", posts_path, remote: true %>
          <%= link_to "KPT", "/", remote: true %>
        </div>
        <p>タスク一覧</p>
        <%= link_to '新規作成', new_post_path, id: 'new-link' %>
      </div>
      <table>
        <tr>
          <th>タスク</th>
          <th>期限</th>
          <th>重要度</th>
        </tr>
      <% @post.each do |p| %>
        <tr>
          <td><a href="/posts/<%=p.id%>" class="post-a"><%= react_component("HelloWorld", { greeting: p.content }) %></a></td>
          <td><a href="/posts/<%=p.id%>" class="post-a"><%= react_component("HelloWorld", { greeting: p.deadline.strftime("%Y-%m-%d") }) %></a></td>
          <td><a href="/posts/<%=p.id%>" class="post-a"><%= react_component("HelloWorld", { greeting: p.rank }) %></a></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
<% else %>
  <div id="post">
    <div id="post-div">
      <p>ログインしてください</p>
    </div>
  </div>
<% end %>