<div id="new">
  <div id="new-content">
    <%= form_with model: @post, local: true, id: 'new-form' do |form| %>
      <div>
        <%= form.text_field :content %>
      </div>
      <div id='radio-btn'>
        <%= form.radio_button :rank, "High", id: 'high' %>
        <%= form.label :rank, "High", class: 'high' %>
        <%= form.radio_button :rank, "Low", id: 'low' %>
        <%= form.label :rank, "Low", class: 'low' %>
      </div>
      <div id='date-select'>
        <%= form.date_select :deadline %>
        <%= form.hidden_field :line_id, :value => session[:line_id] %>
      </div>
      <%= form.submit 'Add' %>
    <% end %>
  </div>
</div>