<!DOCTYPE html>
<html>
  <head>
    <title>DONE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag javascript_path, 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>